<div class="artist-thumbnail">
  <%= link_to artist do %>
    <%= image_tag(artist.thumbnail_url, size: '200x200',
                  alt: artist.name, class: 'round') %>
    <span><%= artist.name %></span>
  <% end -%>
</div>
