<% ([*'A'..'Z'] << '#').in_groups_of(5, false).each do |letters| %>
  <nav class='letter-nav'>
    <% letters.each do |letter| %>
      <%= link_to letter, params.merge(:letter => letter) %>
    <% end -%>
  </nav>
<% end -%>
