<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <%= link_to "Instrumental SESC Brasil", admin_root_path, class: 'navbar-brand' %>
  </div>

  <% if authenticated? %>
  <ul class="nav navbar-top-links navbar-right">
    <li><%= link_to fa_icon('power-off', "Sair"), admin_logoff_path, method: :delete %></li>
  </ul>
  <% end -%>
</nav>
