<h1 class="page-header"><%= @artist.name %></h1>
<%= admin_panel("Dados do artista") do %>
  <%= render "admin_form", :model => @artist,
             :attributes => %w(name description instrument_names genre_names
                               banner thumbnail
                               facebook_page twitter_widget_id playlist_embed),
             :field_options => {
                :name => { :autofocus => true },
                :instrument_names => { :class => "instruments-tokenfield" },
                :genre_names => { :class => "genres-tokenfield" },
                :description => {
                  :placeholder => "Selecione um artista ou digite uma descrição alternativa"
                }
             } %>
<% end -%>
<script>
jQuery(function($) {
  $(".instruments-tokenfield").tokenfield({
    typeahead: {
      name: 'instruments',
      ttl_ms: 5000,
      prefetch: '/ueber/instruments.json'
    }
  });
  $(".genres-tokenfield").tokenfield({
    typeahead: {
      name: 'genres',
      ttl_ms: 5000,
      prefetch: '/ueber/genres.json'
    }
  });
});
</script>
