<% if show.songs.any? %>
<h3>Músicas</h3>
<ol class="video-nav">
  <% show.songs.ordered.each do |song| %>
  <li>
    <%= link_to "#", data: { video_id: song.video.youtube_id } do %>
      <h4><%= song.title %></h4>
      <% if song.composer %>
      <dl>
        <dt>Compositor</dt>
        <dd><%= song.composer %></dd>
      </dl>
      <%= link_to "compartilhar esta música", '#',
                  :class => 'share-facebook',
                  :data => { :url => artist_event_song_url(show.artist, show, song) },
                  :title => "Compartilhar esta música no Facebook" %>
      <% end -%>
    <% end -%>
  </li>
  <% end -%>
</ol>
<% end -%>
