<% if video.timecodes.any? %>
<h3>Perguntas</h3>
<ol class="video-nav">
  <% video.timecodes.each do |timecode| %>
  <%= content_tag :li, timecode.description, data:{ skip_to: timecode.seconds } %>
  <% end -%>
</ol>
<% end -%>
