<h1 class="page-header">Shows</h1>
<div style="margin-bottom: 15px;">
  <%= link_to fa_icon(:plus, "Criar novo show"), new_admin_show_path, :class => "btn btn-primary" %>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Shows cadastrados</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed table-hover" id="shows-table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Artista</th>
            <th>Músicas</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
jQuery(function($) {

  $("#shows-table").dataTable({
    "bProcessing": true,
    "bAutoWidth": false,
    "sAjaxSource": "/ueber/shows/datatable.json",
    "aoColumns": [
      { "iDataSort":  4, "sWidth": "150px" },
      { "sWidth": "200px" },
      { "sWidth": "80px" },
      { "bSortable": false },
      { "bVisible": false }
    ],
    "aaSorting": [[0,'desc']]
  });

});
</script>
