<h1 class="page-header">Show (memória): <%= @legacy_show.artist.try(:name) %></h1>
<%= admin_panel("Dados do show") do %>
  <%= render "admin_form", :model => @legacy_show, :attributes => %w(date artist description),
             :field_options => {
                :description => {
                  :placeholder => "Selecione um artista ou digite uma descrição alternativa"
                }
             } %>
<% end -%>
