@import "../application/mixins";

body {
  padding-top: 70px;
}

p + p {
  margin-bottom: 0px;
}

.glyphicon {
  margin-right: 6px;
}

.login-form {
  width: 400px;
  margin: 0px auto;
  @media screen and (max-width: 440px) { width: 280px; }
}

.pagination {
  margin: 0 0 20px 0;
}

.artist-list-thumb {
  @include border-radius(2px, 2px, 2px, 2px);
  margin-right: 8px;
}
