@import "../application/mixins";

.fa {
  margin-right: 6px;
}

.login-form {
  width: 400px;
  margin: 70px auto;
  @media screen and (max-width: 440px) { width: 280px; }
}

.pagination {
  margin: 0 0 20px 0;
}

.artist-list-thumb {
  @include border-radius(2px, 2px, 2px, 2px);
  margin-right: 8px;
}

.columns {
  display: table;
}

.column {
  display: table-cell;
  vertical-align: top;
  & + .column {
    padding-left: 20px;
  }
  &.column-full {
    width: 100%;
  }
}

.round {
  @include border-radius(10px, 10px, 10px, 10px);
}
