@import "mixins";

.main-feature-block {
  h1 {
    color: $cyan;
    font: 40px AAux Pro Light;
    line-height: 40px;
    margin: 0 0 15px 0;
  }
  h2 {
    margin: 0 0 15px 0;
    font: 16px Aaux Pro Bold;
    color: $greytext;
  }
  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  .autoscroll {
    max-height: 360px;
  }
}
