@import 'mixins';

body {
  background: black;
}

.layout-background {
  background: black image-url("background.jpg") no-repeat center top;
  min-height: 300px;
}

.layout-wrapper {
  width: 980px;
  margin: 0px auto;
}

.layout-content {
  padding: 35px 0;
  overflow: auto;
}
