@import 'mixins';

.search-filters {
  padding: 40px;

  h2 {
    color: $cyan;
    font: 40px AAux Pro Light;
    line-height: 40px;
    margin: 0 0 10px 0;
  }

  h3 {
    color: $orange;
    font: 18px Aaux Pro Bold;
  }
}

.letter-nav {
  a {
    width: 28px;
    text-decoration: none;
    color: $greytext;
    display: inline-block;
    &:hover { color: $orange; }
  }
  & + .letter-nav { padding-top: 5px; }
}
