<% cache do %>
<header>
  <%= header_logo %>
  <nav class="nav-header" role="navigation">
    <%= link_to t("home.about_us.title"), about_us_path %>
    <%= link_to t("layouts.contact_form.title"), contact_form_path %>
  </nav>
</header>
<% end -%>
