<form class="search-form" action="/busca" method="get">
  <%= text_field_tag("q", @search_term, class: 'search-form-input',
                     placeholder: 'Buscar no site', maxlength: 255,
                     autofocus: true) %>
  <%= button_tag("Buscar", name: nil, type: 'submit',
                 class: 'search-form-submit') %>
</form>
<script>
  jQuery(function($) {
    var query = $.url().param("q");
    if(query)
      $(".search-form-input").val(query);
  });
</script>
