<div class="feature">
  <%= image_tag("geraissati.jpg", class: 'round',
                title: "André Geraissati", alt: "André Geraissati",
                width: 781, height: 500) %>
  <div class="feature-sidebar">
    <div class="block main-feature-block">
      <h1>André Geraissati</h1>
      <h2>
        06/01 - às 19h ao vivo.<br />
        Clique <a href="http://www.livestream.com/instrumentalsesc" target="_blank">aqui</a> para assistir.
      </h2>
      <div class="autoscroll">
        <p>A trajetória de André Geraissati é uma das mais
        emblemáticas da música instrumental brasileira.</p>
        <p>Embora envolvido com música desde os Anos 60, Geraissati
        surgiu para o grande público no final dos Anos 70, com o
        Grupo D’Alma e desde a década de 1980 vem trabalhando em
        carreira solo, dirigindo e produzindo diversos artistas
        como Egberto Gismonti, Hermeto Pascoal e Zimbo Trio.</p>
      </div>
    </div>
  </div>
</div>
