@import 'mixins';

.btn-cyan {
  border: none;
  padding: 2px 15px;
  background: $cyan;
  color: white;
  font: 16px Aaux Pro Bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  @include border-radius(3px, 3px, 3px, 3px);
}

.btn-green {
  display: inline-block;
  cursor: pointer;
  color: white;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  border: none;
  padding: 0 30px;
  @include gradient(#008c95, #055459);
  @include box-shadow(1px);
}

.btn-orange {
  display: inline-block;
  cursor: pointer;
  color: white;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  border: none;
  padding: 2px 30px;
  @include gradient(#ff9638, #eb6a0a);
  @include box-shadow(1px);
  font: 14px AAux Pro Bold;
}

.btn-red {
  display: inline-block;
  cursor: pointer;
  color: white;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  border: none;
  padding: 2px 30px;
  @include gradient(#8e0d0f, #6c0d0d);
  @include box-shadow(1px);
  font: 14px AAux Pro Bold;
}

.btn-grey {
  display: inline-block;
  cursor: pointer;
  color: white;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  border: none;
  padding: 2px 30px;
  @include gradient(#c6c7cb, #2f2622);
  @include box-shadow(1px);
  font: 14px AAux Pro Bold;
}
