@import "mixins";

.video-player {
  width: 640px;
  height: 380px;
  margin-bottom: 25px;
}

.event-main {
  width: 640px;
}

.event-sidebar {
  h3 {
    color: $orange;
    font: 18px Aaux Pro Bold;
    margin: 0 0 15px 0;
  }
}

.block-title {
  .artist-thumb {
   float: left;
   position: absolute;
   top: 160px ;
  }

  .artist-title {
    padding-left: 60px;
  }
}

