@import "mixins";

.feature {
  position: relative;
  padding-bottom: 25px;
}

.feature-sidebar {
  position: absolute;
  top: 35px;
  right: 0px;
  width: 340px;
}

.feature-title {
  display: inline-block;
  margin: 0 0 10px 0;
  color: white;
  font: 40px Aaux Pro Light;
}

.main-feature-block {
  h1 {
    color: $cyan;
    font: 40px AAux Pro Light;
    line-height: 40px;
    margin: 0 0 15px 0;
  }
  h2 {
    margin: 0 0 15px 0;
    font: 16px Aaux Pro Bold;
    color: $greytext;
  }
  a {
    text-decoration: none;
  }
  .autoscroll {
    max-height: 360px;
  }
}

.feature-carousel {
  position: relative;
  overflow: hidden;
  width: 900px;
  height: 500px;
  > ul {
    position: relative;
    overflow: auto;
    width: 20000em;
    padding: 0px;
    > li {
      list-style: none;
      float: left;
      width: 900px;
      height: 500px;
    }
  }
}
