@import 'mixins';

@include webfont("Aaux Pro Regular", "aauxpro-regular", "aauxpro");
@include webfont("Aaux Pro Bold", "aauxpro-bold", "aauxpro");
@include webfont("DIN Pro Bold", "dinpro-bold", "dinpro");

@font-face {
  font-family: "Aaux Pro Light";
  src: url("/assets/fonts/aauxpro-light.eot");
  src: url("/assets/fonts/aauxpro-light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/aauxpro-light.woff") format("woff"), url("/assets/fonts/aauxpro-light.ttf") format("truetype"), url("/assets/fonts/aauxpro-light.svg#aauxpro") format("svg");
  font-weight: normal;
  font-style: normal; }
