@import 'mixins';

body {
  background: black;
}

.layout-background {
  background: black image-url("background.jpg") no-repeat center top;
  min-height: 300px;
}

.layout-wrapper {
  width: 980px;
  margin: 0px auto;
}

.layout-content {
  padding: 35px 0;
  overflow: hidden;
}

.round {
  @include border-radius(10px, 10px, 10px, 10px);
}

.fill {
  width: 100%;
}

.block {
  @include border-radius(10px, 10px, 10px, 10px);
  background: white;
  padding: 25px;
  & + * { margin-top: 15px; }
}

.whiteblock {
  @include border-radius(10px, 10px, 10px, 10px);
  background: white;
  padding: 25px;
}

.block-title {
  margin: 0 25px;
  padding: 20px;
  background: black;
  color: white;
  display: block;
  overflow: auto;
  @include border-radius(10px, 10px, 0, 0);

  h1, h2, h3 {
    float: left;
    margin: 0px;
    padding: 0px;
    font: 25px Aaux Pro Bold;
    color: white;
  }

  small {
    float: right;
    color: white;
    display: inline-block;
    padding-top: 10px;
    font: 14px Arial Narrow;
    white-space: nowrap;
    text-align: right;
  }

  &.block-title-orange {
    padding: 12px;
    background-color: $orange;
  }
}

.autoscroll {
  overflow: auto;
  padding-right: 10px;
}
