@import "mixins";

.share-buttons-wrapper {
  @include border-radius(0, 0, 10px, 10px);
  margin: 0 50px 25px 50px;
  padding: 15px 15px 5px 15px;
  background-color: black;
  color: #646464;
  font: 18px Aaux Pro bold;
  display: block;
}

.share-buttons {
  margin: 5px 0 15px 0;
  font: 18px Aaux Pro bold;
  display: block;
  text-align: center;

  > span {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin: 0;
  }
  a {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-indent: -9999px;
    margin-left: 10px;
  }
  .share-twitter {
    width: 97px;
    background: image-url("share-twitter.png") no-repeat center;
  }
  .share-facebook {
    width: 112px;
    background: image-url("share-facebook.png") no-repeat center;
  }
  .share-google-plus {
    width: 141px;
    background: image-url("share-google-plus.png") no-repeat center;
  }
  .share-email {
    width: 103px;
    background: image-url("share-email.png") no-repeat center;
  }
}
